<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BillManagerContext" 
         connectionString="Data Source=DANGER-SERVER;Initial Catalog=BillManager;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />    
    <!--<add name="BillManagerContext" 
         connectionString="Data Source=A73679\LOCAL;Initial Catalog=BillManager;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <services>
      <service name="BillManager.Business.ServiceManagers.AccountServiceManager">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/AccountService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="BillManager.Business.ServiceContracts.IAccountService" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
      <service name="BillManager.Business.ServiceManagers.PaymentServiceManager">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/PaymentService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="BillManager.Business.ServiceContracts.IPaymentService"  />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
      
      <!--<service name="BillManager.Business.ServiceManagers.AccountServiceManager">
        <endpoint address="net.tcp://localhost:8009/AccountService"
                  binding="netTcpBinding"
                  contract="BillManager.Business.ServiceContracts.IAccountService" />
      </service>
      <service name="BillManager.Business.ServiceManagers.PaymentServiceManager">
        <endpoint address="net.tcp://localhost:8009/PaymentService"
                  binding="netTcpBinding"
                  contract="BillManager.Business.ServiceContracts.IPaymentService"  />
      </service>-->
      <!--<service name="BillManager.Business.ServiceManagers.AccountServiceManager">
        <endpoint address="net.tcp://DANGER-SERVER:8009/AccountService"
                  binding="netTcpBinding"
                  contract="BillManager.Business.ServiceContracts.IAccountService" />
      </service>
      <service name="BillManager.Business.ServiceManagers.PaymentServiceManager">
        <endpoint address="net.tcp://DANGER-SERVER:8009/PaymentService"
                  binding="netTcpBinding"
                  contract="BillManager.Business.ServiceContracts.IPaymentService"  />
      </service>-->
    </services>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647"
                 transactionFlow="false"
                 openTimeout="00:05:00"
                 sendTimeout="00:05:00"
                 receiveTimeout="00:10:00" >
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>      
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel> 
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>